{% extends 'base.html' %}
{% block title %}
	{{ pages.meta.title }}
{% endblock %}
{% block content %}
<div class="span8 offset2">
	{# project info #}
	<header class="pull-center">
		{% if pages.meta.img %}<img src="{{ url_for('static', filename=pages.meta.img) }}">{% endif %}
		<h1>{{ pages.meta.title }}</h1>
		<p><em>{{ pages.meta.description }}</em></p>
	</header>

	{% set page_order = [pages.hook, pages.overview, pages.howtoplay, pages.details] %}

	{# navbar! #}
	<p data-spy="affix" data-offset-top="200" class="nav pull-center">
		{% for page in page_order %}
		<a href="#{{ page.path }}">{{ page.title }}</a>{% if not loop.last %} || {% endif %}
		{% endfor %}
	</p>

	{# copy :D #}
	{% for page in page_order %}
		{% include '_section.html' %}
	{% endfor %}
</div>
{% endblock %}